.top {
  width: 100%;
  height: 68px;
  background: #f6f6f6; }

.top-con {
  width: 1220px;
  height: 68px;
  margin: 0 auto; }

.logo {
  width: 110px;
  height: 44px;
  background: url("../img/logo.png") no-repeat 0px -48px;
  margin-top: 12px;
  float: left; }

.top-con .area {
  float: left;
  margin: 28px 0 0 28px;
  font-size: 14px;
  color: #333;
  cursor: pointer; }

.top-con .area span {
  color: #ec6c00;
  font-family: "iconfont"; }

.top-con .selarea {
  width: 140px;
  height: 70px;
  border: 1px solid #ccc;
  position: absolute;
  top: 60px;
  box-shadow: 3px 3px 8px 0px #b2b1b1;
  display: none; }

.sel-con {
  width: 120px;
  height: 50px;
  padding: 10px;
  background: #fff; }

.sel-con .city {
  float: left;
  margin: 2px;
  font-size: 13px; }

.sel-trigon1 {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #fff;
  position: absolute;
  top: -9px;
  left: 5px;
  z-index: 2; }

.sel-trigon2 {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #ccc;
  position: absolute;
  top: -10px;
  left: 5px;
  z-index: 1; }

.area:hover .selarea {
  display: block; }

.top-con .ul-1 {
  width: auto;
  height: 68px;
  float: left;
  margin-left: 65px; }

.ul-1 li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 68px;
  height: 68px;
  font-size: 16px;
  color: #333; }

.top-con .ul-2 {
  width: auto;
  height: 68px;
  float: right; }

.ul-2 li {
  float: left;
  width: 80px;
  text-align: center;
  line-height: 18px;
  height: 18px;
  font-size: 14px;
  color: #333;
  border-right: 1px solid #d2d2d2;
  margin-top: 29px;
  cursor: pointer; }

.ul-2 .sky {
  border: none; }

.ul-2 li span {
  font-family: 'iconfont';
  color: #ec6c00; }

.code {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 75px;
  left: 950px;
  border: 1px solid #ccc;
  background: #fff;
  display: none; }

.code p {
  height: 30px;
  color: #ccc;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  line-height: 30px; }

.code .iphone {
  width: 120px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  font-family: 'iconfont';
  color: #4ca2f3;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin: 20px 0 20px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.code .iphone span {
  color: #939297; }

.code .android {
  width: 120px;
  height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  font-family: 'iconfont';
  color: #4ca2f3;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin: 20px 0 20px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.code .android span {
  color: #939297; }

.ma {
  width: 100px;
  height: 100px;
  background: url("../img/erweima.jpg");
  background-size: cover;
  float: right;
  margin: -123px 25px 0 0; }

.line {
  width: 100%;
  height: 4px;
  background: url("../img/border.png") repeat-x; }

.nav {
  font-size: 14px;
  color: #666;
  width: 1220px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto; }

.bodyall {
  width: 1220px;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }

.bodyl {
  width: 256px;
  height: 380px;
  float: left;
  border: 1px solid #ddd;
  border-top: none; }

.bodyl ul {
  width: 100%;
  height: 100%; }

.bodyl ul li {
  font-size: 14px;
  padding-left: 30px;
  color: #333;
  height: 34px;
  line-height: 34px;
  margin-bottom: 2px; }

.bodyl ul .tit {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #f7f7f7; }

.bodyr {
  width: 820px;
  height: auto;
  float: left;
  margin-left: 20px; }

.title {
  width: 810px;
  height: 36px; }

.title .tit {
  width: 273px;
  height: 36px;
  float: left;
  text-align: center;
  line-height: 36px;
  font-size: 14px; }

.tit1 {
  background: url("../img/go.png") no-repeat 0px -2px;
  color: #fff; }

.tit2 {
  background: url("../img/go.png") no-repeat 0px -62px;
  margin-left: -16px;
  color: #333; }

.tit3 {
  background: url("../img/go.png") no-repeat 0px -123px;
  margin-left: -16px;
  color: #333; }

.cons1 {
  width: 560px;
  height: 32px;
  margin: 22px 0 0 80px; }

.con {
  margin-top: 30px;
  position: relative; }

.decide {
  width: 30px;
  height: 30px;
  float: right;
  line-height: 30px;
  margin-right: 12px;
  color: #69b338;
  font-size: 25px;
  font-family: 'iconfont'; }

.fileall {
  width: 560px;
  height: 100px;
  margin: 22px 0 0 50px;
  position: relative; }

.file {
  float: left;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #333; }

.file span {
  color: red; }

.pic {
  width: 100px;
  height: 30px;
  float: left;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px dashed #ccc;
  text-align: center;
  line-height: 30px;
  color: #ccc;
  background: #f2f2f2;
  font-size: 20px; }

.Img {
  width: 110px;
  height: 100px;
  background: url("../img/dog.jpg") no-repeat;
  background-size: cover;
  position: relative;
  left: 110px; }
  .Img .close {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    line-height: 20px;
    background: #ccc;
    cursor: pointer; }

.Img.h {
  display: none; }

.Search {
  background: #fff;
  width: auto;
  height: auto;
  position: absolute;
  left: 81px;
  top: 32px;
  z-index: 1; }
  .Search .searchs {
    background: #fff;
    width: 420px;
    height: 30px;
    text-indent: 8px;
    border: 1px solid #d9d9d9;
    border-top-style: none;
    color: #333;
    line-height: 32px;
    font-size: 13px; }
  .Search .searchs:hover {
    background: #f2f2f2; }

.find {
  display: block;
  width: 100px;
  height: auto;
  margin-left: 170px;
  color: #ccc; }

.map {
  width: 420px;
  height: auto;
  border: 1px dashed #CCC;
  margin-left: 160px;
  display: none; }
  .map #allmap {
    width: 100%;
    height: 100%; }

.test1 {
  float: left;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #333; }

.test1.mleft {
  margin-left: 28px;
  width: 52px; }

.test1 span {
  color: red; }

.test2 {
  width: 410px;
  height: 30px;
  float: left;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding-left: 10px; }

.test2 input {
  height: 29px;
  width: auto;
  border: none; }

.test3 {
  width: 190px;
  height: 30px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
  margin-right: 17px; }

.test3 select {
  height: 30px;
  width: 180px;
  border: none;
  color: #a7a7a7; }

.test2.house {
  width: 64px; }

.test2.house input {
  width: 60px; }

.home {
  color: #666;
  font-size: 16px;
  width: 26px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  color: #666; }

.home.wid {
  width: 40px; }

.test4 {
  width: 160px;
  height: 30px;
  float: left; }

.test4 input {
  height: 30px;
  float: left; }

.test4 .m-left {
  margin-left: 55px; }

.test4 .styl {
  width: auto;
  height: 30px;
  float: left;
  line-height: 30px;
  font-size: 13px;
  color: #666;
  margin-left: 5px; }

.test5 {
  width: 109px;
  height: 30px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding-left: 5px;
  margin-left: 14px; }

.test5 select {
  height: 30px;
  width: 105px;
  border: none;
  color: #a7a7a7; }

.conn {
  float: right;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #666;
  margin-right: 10px; }

.test6 {
  width: 72px;
  height: 30px;
  float: left;
  margin-right: 15px; }

.test6 input {
  float: left;
  height: 30px; }

.test6 .sty {
  margin-left: 7px;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #666; }

.cons2 {
  width: 560px;
  height: 80px;
  margin: 22px 0 0 80px; }

textarea {
  padding: 8px;
  width: 404px;
  height: 64px;
  float: left;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Microsoft YaHei'; }

.sub {
  width: 140px;
  height: 40px;
  background: #ec6c00;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 30px 0 0 160px;
  cursor: pointer; }

.bottom {
  width: 100%;
  height: 118px;
  background: #333;
  margin-top: 30px; }

.bottom-con {
  width: 1220px;
  height: 118px;
  margin: 0 auto;
  overflow: hidden; }

.bottom-con ul {
  width: 270px;
  height: 44px;
  float: left; }

.bottom-con li {
  float: left;
  padding-right: 5px;
  margin-right: 5px;
  color: #8b8b8b;
  margin-top: 30px;
  font-size: 12px; }

.bor {
  border-right: 1px solid #747474; }

.addr {
  width: 170px;
  color: #8b8b8b;
  float: left;
  font-size: 12px;
  display: block;
  margin: 30px 0 12px 5px; }

.bottom-con p {
  width: 500px;
  color: #8b8b8b;
  font-size: 12px;
  height: 18px;
  clear: both;
  margin-bottom: 12px; }

.police {
  width: 14px;
  height: 16px;
  background: url("../img/logo.png") no-repeat -14px -7px;
  float: left; }

.addrs {
  width: 190px;
  height: 18px;
  color: #8b8b8b;
  margin-left: 5px;
  float: left; }

.bottom-logo {
  float: right;
  background: url("../img/logo.png") no-repeat 0px -109px;
  width: 115px;
  height: 59px;
  margin-top: -53px; }

/*# sourceMappingURL=index.css.map */
