
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1492228723206'); /* IE9*/
  src: url('iconfont.eot?t=1492228723206#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1492228723206') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1492228723206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1492228723206#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone1:before { content: "\e604"; }

.icon-shouji:before { content: "\e648"; }

.icon-android:before { content: "\e617"; }

.icon-shopcar:before { content: "\e62a"; }

.icon-icon:before { content: "\e647"; }

.icon-duigou:before { content: "\e65c"; }

.icon-suo:before { content: "\e611"; }

.icon-phone:before { content: "\e600"; }

.icon-shoujichongzhi:before { content: "\e6c8"; }

.icon-gouwuche2:before { content: "\e684"; }

.icon-wode:before { content: "\e605"; }

.icon-jiayouqia:before { content: "\e66a"; }

.icon-huiyuanzhongxin:before { content: "\e636"; }

.icon-shenghuojiaofei:before { content: "\e680"; }

.icon-control-arr-copy:before { content: "\e628"; }

.icon-fenlei:before { content: "\e85a"; }

.icon-control-arr-copy-copy:before { content: "\e607"; }

.icon-fuwu:before { content: "\e608"; }

.icon-shu:before { content: "\e633"; }

.icon-shuidianmeijiaofei:before { content: "\e646"; }

.icon-shangpinfenlei:before { content: "\e634"; }

.icon-wenhao:before { content: "\e6f5"; }

.icon-jifenduihuan:before { content: "\e6f2"; }

.icon-xiazai:before { content: "\e69b"; }

.icon-cuo:before { content: "\e606"; }

.icon-sousuo_sousuo:before { content: "\e601"; }

.icon-huoche:before { content: "\e603"; }

.icon-jiaren:before { content: "\e629"; }

.icon-shouye_shouye:before { content: "\e602"; }

